body {
    background-color: rgb(239, 234, 231);
    margin: 0;
}

header {
    display: block;
    text-align: center;
    margin-top: 7%;
}

#CyroLogo {
    margin: 0 auto;
    width: 300px;
}

header h1 {
    margin: 0 31px 0 0;
    font-size: 70px;
    font-family: 'Centaur';
    color: rgb(141, 61, 61);
    font-weight: 100;
    letter-spacing: 10px;
}

header h2 {
    margin: 0 31px 0 0;
    font-size: 30px;
    font-family: 'Semilight';
    color: rgb(51, 4, 4);
    font-weight: 100;
    letter-spacing: 10px;
}

#description1 {
    margin: 500px 0 0px 15%;
    display: flex;
}

#TextDescription {
    padding: 0px;
}

#TextDescription h1 {
    font-family: Leelawadee UI;
    font-weight: 500;
    letter-spacing: 22px;
    font-size: 90px;
    width: 500px;
    line-height: 85px;
    margin-bottom: 75px;
}

#TextDescription p {
    font-family: Lucida Sans Typewriter;
    font-size: 17.5px;
    letter-spacing: 2px;
    font-style: Oblique;
    color: #1D0505;
}

#BoxesSVG {
    position: relative;
    left: 350px;
    margin-right: 10px;
    height: 100px;
}

#BoxesSVG img {
    display: block;
    height: 230px;
    position: relative;
}

#BoxesSVG #nan1 {
    right: 130px;
}

#BoxesSVG #D {
    bottom: 100px;
    right: 50px;
}

#BoxesSVG #B {
    height: 220px;
    right: 240px;
    bottom: 335px;
}

#BoxesSVG #T {
    bottom: 460px;
    right: 180px;
}

#BoxesSVG #nan2 {
    bottom: 650px;
    right: 0px;
}

#ScrolingTextToFlex {
    margin: 400px 0;
}

#ScrolingTextToFlex h2 {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    font-size: 30px;
    margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    border: solid #000000;
    color: #5B1F1F;
    width: 530px;
    text-shadow: 0 3px 6px #0000003d;
}

#bottom h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: 100;
    color: #2B1919;
    text-align: center;
    text-shadow: -5px 3px 6px #0000002a;
}

.card {
    display: flex;
    margin: 0 16%;
    justify-content: space-between;
}

.card div {
    background-color: #FFDFD5;
    width: 280px;
    height: 360px;
    box-shadow: -15px 0 15px #00000020;
}

.card div img {
    display: block;
    width: 90px;
    margin: 25px auto;
}

#blanket {
    background-color: #FFEAE4;
    width: 280px;
    height: 220px;
    box-shadow: 0 -5px 15px #00000020;
}

@font-face {
    font-family: 'Semilight';
    src: url("../Media/font/segoeuisl.ttf");
}