* {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #EFE9E7;
    margin: 0;
    overflow-x: hidden;
    height: 100vh;
}

/* html, body {
    margin: 0;
    height: 100%;
    overflow: hidden
} */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #EFE9E7;
}

body::-webkit-scrollbar-thumb {
    background-color: #EFE9E7;
    border-radius: 5px;
    border: 3px solid #C5BEBE;
}

header {
    display: block;
    text-align: center;
    margin-top: 7%;
}

#CyroLogo {
    margin: 0 auto;
    width: 300px;
}

header h1 {
    margin: 0;
    font-size: 70px;
    font-family: 'Centaur';
    color: rgb(141, 61, 61);
    font-weight: 100;
    letter-spacing: 10px;
}

header h2 {
    margin: 0;
    font-size: 30px;
    font-family: 'Semilight';
    color: rgb(51, 4, 4);
    font-weight: 100;
    letter-spacing: 10px;
}

nav {
    opacity: 0;
    /* Safari */
    text-align: center;
    top: -0;
    width: 100%;
    position: fixed;
    font-family: "Lucida Sans Typewriter";
    font-style: Oblique;
    z-index: 100;
    background: #EFE9E7;
    border-color: #C5BEBE;
    border-width: 0 0 20px 0;
    border-style: solid none;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0 150px;
}

nav ul li {
    display: flex;
    align-items: center;
}

#midleNav {
    font-style: normal;
    letter-spacing: 7px;
    font-family: Leelawadee UI;
    font-size: 25px;
    color: #8D3D3D
}

nav ul li a {
    letter-spacing: 2px;
    font-size: 16px;
    color: #5A1010;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 100;
}

nav ul li a img {
    width: 50px;
}

#description1 {
    margin: 600px 0 0px 0;
    display: flex;
}

#TextDescription {
    transition: margin 50ms;
    padding-left: 15%;
    padding: 0px;
    opacity: 0;
}

#TextDescription h1 {
    font-family: Leelawadee UI;
    font-weight: 500;
    letter-spacing: 20px;
    font-size: 90px;
    line-height: 85px;
    margin-bottom: 75px;
}

#TextDescription p {
    font-family: Lucida Sans Typewriter;
    font-size: 17.5px;
    letter-spacing: 2px;
    font-style: Oblique;
    color: #1D0505;
}

#BoxesSVG {
    position: absolute;
    height: 100px;
    right: 12vw;
}

#BoxesSVG img {
    display: block;
    height: 230px;
    position: relative;
}

#BoxesSVG #nan3 {
    bottom: 100px;
    height: 225px;
}

#BoxesSVG #B {
    height: 220px;
    bottom: 335px;
}

#BoxesSVG #T {
    bottom: 460px;
}

#BoxesSVG #nan2 {
    bottom: 650px;
}

#ScrolingTextToFlex {
    margin: 400px 0;
}

#ScrolingTextToFlex h2 {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 6px;
    font-size: 30px;
    margin: 143px auto;
    padding: 5px 0;
    text-align: center;
    border: solid #000000;
    color: #5B1F1F;
    width: 530px;
    text-shadow: 0 3px 6px #0000003d;
}

.weee {
    position: relative;
    font-size: 120px;
    font-weight: 500;
    color: #5B1F1F;
    text-decoration: underline;
    text-align: center;
    letter-spacing: 40px;
    white-space: nowrap;
}

#Offer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
    letter-spacing: 8px;
    font-weight: 100;
    color: #2B1919;
    text-align: center;
    text-shadow: -5px 3px 6px #0000002a;
}

.card {
    display: flex;
    margin: 0 16%;
    justify-content: space-between;
}

.card div {
    background-color: #FFDFD5;
    width: 300px;
    height: 450px;
    box-shadow: -15px 0 15px #00000020;
}

.card div img {
    display: block;
    width: 90px;
    margin: 25px auto;
}

.card div #blanket {
    font-family: 'Leelawadee UI';
    background-color: #FFEAE4;
    width: 100%;
    height: 300px;
    box-shadow: 0 -5px 15px #00000020;
}

.card div #blanket h1 {
    font-size: 30px;
    margin: 0;
    margin-left: 8px;
    padding-top: 10px;
    letter-spacing: 2px;
}

#blanket ul {
    padding-left: 35px;
}

#blanket ul li {
    font-size: 21px;
    letter-spacing: 4px;
    line-height: 40px;
}

footer {
    position: relative;
    bottom: 25px;
    z-index: -1;
}

#beanie {
    background-color: #F0D7CE;
    width: 100%;
    height: 100px;
}

#blanket {
    color: #2B1919;
    background-color: #CCA5A5;
    height: 1000px;
    width: 100%;
}

footer #blanket h1 {
    position: relative;
    top: 276px;
    margin: 0;
    padding: 5px;
    letter-spacing: 15px;
    font-size: 60px;
    font-weight: 100;
    text-align: center;
    background-color: #FFEAE4;
}

@font-face {
    font-family: 'Semilight';
    src: url("../Media/font/segoeuisl.ttf");
}