header {
    display: block;
    text-align: center;
    padding-top: 7%;
    margin-bottom: 600px;
}

#CyroLogo {
    margin: 0 auto;
    width: 300px;
}


#description1 {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 85px;
}

#TextDescription {
    margin-left: 10px;
    position: relative;
    padding: 0px;
    opacity: 0;
}

#TextDescription p {
    font-family: Lucida Sans Typewriter;
    font-size: 17.5px;
    letter-spacing: 2px;
    font-style: Oblique;
    color: #1D0505;
}

#BoxesSVG {
    width: 450px;
    height: 500px;
    margin-bottom: 0px;
}

#BoxesSVG img {
    margin: 0;
    display: block;
    height: 230px;
    position: relative;
}

#BoxesSVG #nan3 {
    bottom: 100px;
    height: 225px;
}

#BoxesSVG #B {
    height: 220px;
    bottom: 335px;
}

#BoxesSVG #T {
    bottom: 460px;
}

#BoxesSVG #nan2 {
    bottom: 650px;
}

#ScrolingTextToFlex {
    margin: 400px 0;
}

#ScrolingTextToFlex h2 {
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 4px;
    font-size: 30px;
    margin: 143px auto;
    padding: 5px 0;
    text-align: center;
    border: solid #000000;
    color: #5B1F1F;
    width: 530px;
    text-shadow: 0 3px 6px #0000003d;
}

.card {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-wrap: wrap;
}

.card div {
    background-color: #FFDFD5;
    width: 300px;
    height: 450px;
    box-shadow: -15px 0 15px #00000020;
}

.card div img {
    display: block;
    width: 90px;
    margin: 25px auto;
}

.card div #blanket {
    font-family: 'Leelawadee UI';
    background-color: #FFEAE4;
    width: 100%;
    height: 300px;
    box-shadow: 0 -5px 15px #00000020;
    position: relative;
    top: 20px;
}

#blanket ul {
    padding-left: 35px;
}

#blanket ul li {
    font-size: 21px;
    letter-spacing: 4px;
    line-height: 40px;
}

.grapich {
    position: relative;
    bottom: 25px;
    z-index: -1;
}

#beanie {
    position: relative;
    top: -25px;
    z-index: -1;
    background-color: #F0D7CE;
    width: 100%;
    height: 100px;
    margin: 0;
}

#blanket {
    color: #2B1919;
    background-color: #cca5a5;
    height: 1000px;
    width: 100%;
    padding-top: 1px;
    margin-top: -26px;
    overflow: hidden;
}

#blanket h1 {
    margin: 162px 0 141px 0;
    padding: 28px 0px;
    letter-spacing: 6px;
    font-size: 47px;
    font-weight: 100;
    text-shadow: -5px 3px 6px rgba(0, 0, 0, 0.32);
    text-align: center;
    background-color: #FFEAE4;

}

#branding {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 18px 16px;
}


#branding a img {
    width: 240px;
    height: 167px;
    background-color: white;
    border-radius: 39px;
    box-shadow: -15px 7px 15px rgba(0, 0, 0, 0.295);
}

#beanie2 {
    height: 50px;
    background-color: #977171;
}

#contachMeee {
    background-color: #201717;
}

#contachMeee h1 {
    margin: 0px 0px 127px 0px;
    padding-top: 78px;
    font-size: 57px;
    color: #CBCCCD;
    text-shadow: none;
    letter-spacing: 4px;
}

#contachMeee #content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 150px;
}

#content div input {
    width: 360px;
    height: 35px;
    border: 2px solid #D8D8D8;
    background-color: #483E3E;
}

#content div #bigBoye {
    height: 100px;
}

input {
    text-align: left;
    color: #D8D8D8;
}

input:focus {
    outline: none !important;
    border-color: #D8D8D8;
    box-shadow: 0 0 5px #d8d8d8a1;
}

@font-face {
    font-family: 'Semilight';
    src: url("../Media/font/segoeuisl.ttf");
}

:root {
    /* local var: */
    --blanketMargin: 140px;
}